@import "tailwindcss";

:root {
  /* Forzamos un tema oscuro por defecto para tu diseño */
  --background: #0a0a0a;
  --foreground: #ffffff;
}

@theme {
  /* Aquí definimos tus colores personalizados para que Tailwind los compile */
  --color-background-dark: #0a0a0a;
  --color-primary: #25D366;
  
  /* Puedes agregar aquí la fuente de tus íconos o títulos si la necesitas */
  --font-display: sans-serif; 
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
